<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Word Couunter</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
 <body class="container">
 <h1>Word Counter Extraordinaire!</h1>
 <p>Do you find counting <strong>difficult</strong>?!</p>
 <p>Tired of using your brain for such a <em>monotonous</em> task?!?! </p>
 <p>Have you <strong><em>always</em></bold> wanted to get the count of how many times a word appears in a sentence?!?!?!?</p>
 <a href='/counter/new'>Click here to start counting!</a>
 <a href='/counter'></a>

 </body>

</html>
