@using WordCounter.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Word Counter</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body class="container">
    <h1>Never have to count words in a sentence again!</h1>
    @if (Model.Count == 0)
        {
          <p>You have not inoutted any words :( !</p>
        }
    @if(Model.Count != 0)
        {
        @foreach (RepeatCounter repeatCounter in Model)
        {
          <div class="wordBox">
            <a href='/counter/@repeatCounter.Id'>The word "@repeatCounter.Word" appears in "@repeatCounter.Phrase" @repeatCounter.WordCount times!</a>
          </div>
        }
        }


    <a href="/counter/new">Get the count for a new phrase!</a>
  </body>
</html>
