<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Word Counter Form</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body class="container">
    <h1>ARE YOU READY FOR THE MOST EXCITING TRICK?!?!</h1>

    <form action="/counter" method="post">
      <label for="word">Add a word:</label>
      <input id="word" name="word" type="text"><br>

      <label for="phrase">Add the phrase:</label>
      <input id="phrase" name="phrase" type="text"><br>

      <button type="submit">Submit</button>
    </form>

  </body>
</html>
