<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Individual words</title>
  </head>
  <body class="container">
    <h1>Here's an individual view of the stuff you inputted, for no reason!</h1>

    <h2>Your word: "@Model.Word"</h2>
    <h2>Your phrase: "@Model.Phrase"</h2>
    <h2>The word count: @Model.WordCount</h2>
    <h2>Thank goodness you didn't have to count that yourself!</h2>

    <a href='/counter/new'>Check another sentence</a>
    <a href='/counter'>View your past word counts</a>

  </body>
</html>
